/*div {*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
/*}*/
#table span {
    min-height: 125px;
    display: block;
    /*background-color: #E88774;*/
    border: dashed black 1px;
    box-shadow: 5px 5px 5px #D1D1D1;
    margin: 20px;
    border-radius: 8px;
    padding: 0 15px;
}
#main {
    margin-top: 100px;
}
#header div {
    height: 25px;
    border-bottom: 1px dashed grey;
    margin: 0 35px;
}
#header span {
    color: grey;
    font-size: 30px;
    background-color: white;
    padding: 0 20px;
}
#header {
    margin-bottom: 120px;
    text-align: center;
}
body {
    font-family: 'Inconsolata', monospace;
}
.board h3 {
    color: #D60D0D;
    overflow: hidden;
    text-overflow: ellipsis;
}
span#btn {
    background-color: lightgray;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    align-items: stretch;
    padding: 35px 15px 0px;
    text-align: center;
    /*color: white;*/
    font-size: 18px;
    font-weight: bold;
}
